################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Portfolio.slnx/config/applicationhost.config
/.vs/Portfolio.slnx/FileContentIndex
/.vs/Portfolio.slnx/v18
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
