################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Thistledrop.github.io.slnx
/.vs/Thistledrop.github.io
/.vs/ProjectSettings.json
/.vs
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
